.someDiv
    width 150px
    height 150px
    display inline-block
    cursor pointer

#div1
    background-color blue

#div2
    background-color green

#div3
    background-color yellow

#div4
    background-color black

#div5
    background-color gray

#modalDiv
    width 400px
    height 400px
    position absolute
    background-color green
    cursor pointer
    opacity 0