#i1
	color red
	background blue
	border solid green 1px
#i2
	color red
	background blue
	border solid green 1px

#i3
	color red
	background blue
	border solid green 1px 

#i4
	color red
	background blue
	border solid green 1px

#i5
	color red
	background blue
	border solid green 1px

#i6
	color red
	background blue
	border solid green 1px
#i7
	color red
	background blue
	border solid green 1px

#r1
	background yellow
	border solid green 1px

#r2
	background green
	border solid green 1px

#r3
	background grey
	border solid green 1px

h1
	margin-bottom 40px

.bg-success, .bg-danger
	margin-bottom 15px
	padding 15px