.container 
    width: 80%
    margin: 30px auto
    overflow: hidden

.container ul 
    display: flex  
    flex-wrap: wrap  

.container ul li 
    flex-grow: 1
    flex-basis: 150px
    list-style:none 
    font: 10px/1.5 Verdana, Helvetica, Sans-serif
    width: 16%
    margin: 2% 2% 40px 2%

.container ul li a  
    color: #5d5f5d

.container ul li a img 
    max-width: 100%

/*
display: flex - ОБЪЯВЛЯЕМ КОНТЕЙНЕР

flex-flow - Является сокращённым свойством для отдельных свойств flex-direction и flex-wrap.

flex-wrap: wrap  - задает правила вывода flex-элементов —  в одну строку или в несколько, с переносом блоков

flex-direction - задаёт направление основных осей в контейнере и тем самым определяет положение флексов в контейнере

flex-grow: 1 - определяет, какую часть свободного пространства может занять контейнер, в соотношении с другими контейнерами

flex-basis: 150px - определяет основу флекса, которая является начальным размером элемента. Похоже на свойства width и height, к которым добавляется содержимое элемента.

justify-content: center - определяет, как браузер распределяет пространство между и вокруг элементов контента, вдоль главной оси их контейнера.

align-items: stretch - выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.

align-content: stretch - задаёт тип выравнивания строк внутри флекс-контейнера по поперечной оси при наличии свободного пространства.

*/