body 
  background: black;

h1 
  margin-top: 5%
  line-height: 100px
  font-size: 100px
  font-family: 'Paytone One', sans-serif
  text-align: center
  background: linear-gradient(
    to right, 
    #ff1616, #ff7716, #ffdc16, #36c945, #10a5ce, #0f0096, #a51eff, #ff1616);
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-size: 800px
  background-position: center 10%
  animation: background-slide 5s infinite linear


@keyframes background-slide 
  100% 
    background-position: -8160px;
  
